@inject ISongDatabase db;
@inject IUserTracker tracker;
<a class="fa-star @starStyle" @onclick="ToggleStar"></a>

@code {
	[Parameter, EditorRequired]
	public SongSelection Selection { get; set; } = default!;

	public const string STARRED = "fa-solid";
	public const string NORMAL = "fa-thin";
	public const string DATA_ATTRIBUTE_NAME = "data-song-slug";

	private string starStyle => Selection.IsStarred ? STARRED : NORMAL;

	private async Task ToggleStar() {
		Selection.IsStarred = !Selection.IsStarred;
		await SongEndpoints.ToggleSongStar(Selection.Song.Slug, db, tracker);
	}
}
