@{
	Layout = "_Layout";
}
<header>
	<nav>
		<a asp-action="index">all songs</a>
		<a asp-action="me">my songs</a>
		<a asp-action="queue">queue</a>
	</nav>
</header>
<main class="@ViewData["MainCssClass"]">
	@RenderBody()
</main>
<footer>
	guitaraoke: karaoke with strings attached &bull; <a href="https://github.com/guitaraoke/app.guitaraoke.live/">code on github</a>
</footer>
