@{
	Layout = "_Layout";
}
<header>
	<nav>
		<a asp-action="index">all songs</a>
		<a asp-action="me">my songs</a>
		<a asp-action="queue">queue</a>
	</nav>
</header>
<main class="@ViewData["MainCssClass"]">
	@RenderBody()
</main>
<footer>
	guitaraoke: a thing by <a href="https://dylanbeattie.net">dylanbeattie</a>
	<span class="social-media-icons">
		<a href="https://www.facebook.com/groups/633319588318184/">
			<i class="fa-brands fa-square-facebook" style="color: #1a6ed8;"></i>
		</a>
		<a href="https://www.instagram.com/guitaraoke.live/">
			<i class="fa-brands fa-square-instagram"></i>
		</a>
		<a href="https://chat.whatsapp.com/FPXbLGN1uVeKVpBbYTM541">
			<i class="fa-brands fa-square-whatsapp" style="color: #53cc60;"></i>

		</a>
	</span>
</footer>
