<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Guitaraoke")</title>
	<link href="~/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/solid.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/thin.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/brands.min.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.10/signalr.min.js" integrity="sha512-P5G3EZ6/6i+YfHLRhH32IxWKYtw0XyeYODsBn6eXzHt7W0Z+MZ1kySXUT0ec0+WuxHEoYkjHlSnTCItpg1XMGg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
@RenderBody()
<script src="~/js/script.js"></script>
</body>
</html>
