<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Guitaraoke")</title>
	<style>
		li.song a.star {
			font-size: 200%;
			color: #999;
		}
		li.song a.star.starred {
			color: #f00;
		}
	</style>
</head>
<body>
	<header>
		header
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		footer
	</footer>
</body>
</html>
