<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Guitaraoke")</title>
	<link href="~/fontawesome/css/fontawesome.css" rel="stylesheet" />
	<link href="~/fontawesome/css/solid.css" rel="stylesheet" />
	<link href="~/fontawesome/css/thin.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav>
			<a asp-action="index">all songs</a>
			<a asp-action="queue">queue</a>
		</nav>
	</header>
	<main>
		@RenderBody()
	</main>
<footer>
	footer
</footer>
<script src="~/js/script.js"></script>
</body>
</html>
