<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@(ViewData["Title"] ?? "Guitaraoke")</title>
	<link href="~/fontawesome/css/fontawesome.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/solid.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/thin.min.css" rel="stylesheet" />
	<link href="~/fontawesome/css/brands.min.css" rel="stylesheet" />
	<link href="~/css/styles.css" rel="stylesheet" />
</head>
<body>
@RenderBody()
<script src="~/js/script.js"></script>
</body>
</html>
