ol {
	margin: 0;
	padding: 0;
}

li {
	border: 1px solid currentColor;
	margin-bottom: var(--gutter, 8px);
	border-radius: var(--gutter, 8px);
	list-style: none;
	background-color: rgba(var(--panel-rgb), 0.5);
	padding: 8px;
}

.already-played {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--text-color);
}

a {
	text-decoration: none;
	color: var(--text-color);
}

span {
	white-space: nowrap;
}


.long-song-name {
	font-size: 80%;
}

