.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
	height: 100vh;
	background: rgb(17,23,45);
	background: linear-gradient(150deg, rgba(17,23,45,1) 0%, rgba(37,32,79,1) 49%, rgba(78,14,72,1) 100%);
	background-attachment: fixed;
	font-size: 140%;
	flex: 1;
	margin: 0;
	padding: 0;
	color: #fff;
	padding: var(--gutter) var(--gutter) 40px var(--gutter)
}
