<header>
    <nav>
        <div class="nav-item">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				all songs
			</NavLink>
		</div>

        <div class="nav-item">
			<NavLink class="nav-link" href="me">
				my songs
			</NavLink>
		</div>

        <div class="nav-item">
			<NavLink class="nav-link" href="queue">
				queue
			</NavLink>
		</div>
    </nav>
</header>
