header {
	background-color: rgb(21, 22, 48);
	background: #1a1b3c;
}

nav {
	display: grid;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	grid-column-gap: 8px;
	margin: var(--gutter, 8px);
}

.nav-item {
}

	.nav-item ::deep a {
		text-align: center;
		text-decoration: none;
		color: #fff;
		background-color: rgba(var(--hotpink-rgb), 0.75);
		padding: 4px;
		border-radius: 4px;
	}

	.nav-item ::deep a.active {
		background-color: rgba(var(--hotpink-rgb), 1);
		color: white;
	}

	.nav-item ::deep a:hover {
		background-color: rgba(var(--hotpink-rgb), 0.4);
		color: white;
	}

