#dashboard {
	height: 100vh;
	overflow: clip;
	display: grid;
	grid-template-columns: 60% 40%;
}

#song-queue {
	overflow: scroll;

}
	#song-queue > ol {
		margin: 0;
		padding: 0;
	}

	#song-queue ol > li {
		list-style-position: inside;
		border: 1px solid currentColor;
		border-radius: var(--gutter);
		margin: var(--gutter);
		background-color: rgba(var(--panel-rgb), 0.5);
		padding: var(--gutter);
		line-height: 1.4em;
	}

		#song-queue ol > li.drop-target {
			border-top: 10px solid #f0f;
		}

#starred-songs {
	padding: 8px;
	overflow: scroll;
}

a.mark-song-as-played-link {
	background-color: var(--button);
	color: var(--button-text);
	float: right;
	text-decoration: none;
	padding: 8px;
	border-radius: 8px;
	margin: 8px;
	cursor: pointer;
}
