<footer>
	guitaraoke: a thing by <a href="https://dylanbeattie.net">dylanbeattie</a>
	<span class="social-media-icons">
		<a href="https://www.facebook.com/groups/633319588318184/">
			<i class="fa-brands fa-square-facebook"></i>
		</a>
		<a href="https://www.instagram.com/guitaraoke.live/">
			<i class="fa-brands fa-square-instagram"></i>
		</a>
		<a href="https://chat.whatsapp.com/FPXbLGN1uVeKVpBbYTM541">
			<i class="fa-brands fa-square-whatsapp"></i>
		</a>
	</span>
</footer>
