@inherits LayoutComponentBase

<div class="page">
	<NavMenu />
	<main>
		@Body
	</main>
	<PageFooter FacebookId="https://www.facebook.com/groups/633319588318184/"
				InstagramId="https://www.instagram.com/guitaraoke.live/"
				WhatsAppId="https://chat.whatsapp.com/FPXbLGN1uVeKVpBbYTM541">
		guitaraoke: a thing by <a href="https://dylanbeattie.net">dylanbeattie</a>
	</PageFooter>
</div>
