@model IEnumerable<GuitaraokeWebApp.Model.SongSelection>
@{
	ViewData["Title"] = "Home";
}
<ol>
	@foreach (var item in Model) {
		<li class="song">
			@(item.Song.Played ? "PLAYED!" : "")
			<a asp-action="Song" asp-route-id="@item.Song.Slug">@item.Song.Artist - @item.Song.Title</a>
			<song-star selection="item"/>
		</li>
	}
</ol>
