@model IEnumerable<GuitaraokeWebApp.Model.SongSelection>
@{
	ViewData["Title"] = "Home";
}
<ol>
@foreach (var item in Model) {
	<li>@item.Song.Artist - @item.Song.Title
		<a class="@(item.IsStarred ? "starred" : "")">*</a>
		</li>

}
</ol>
