@model User
@{
	ViewData["Title"] = "My Songs";
}
<h1>Hi @(Model.Name ?? "there")</h1>
@if (Model.Signups.Any()) {
	<ul class="signup-list">
		@foreach (var signup in Model.Signups) {
			<li>
				<a asp-action="song" asp-route-id="@signup.Key.Slug">@signup.Key.Name</a>
				@String.Join(", ", signup.Value.Select(i => i.ToString()).ToArray())
			</li>
		}
	</ul>

} else {
	<div class="no-signups-message">
		<h2>You haven't signed up to sing or play anything!</h2>
		<p>Why not pick something from the <a asp-action="Index">song list?</a></p>
	</div>
}